@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,669&display=swap');
body{
  cursor:default;
}


.biggerPicture{
 overflow-x:hidden;
 width:100%;
 display:grid;
 grid-template: 100%;

}


.each-color-composition{

  display:grid;
  grid-template-columns: 50% 50%;
  padding-bottom:0.2vw;

}



.left-compose{


  height:100vh;


}
.right-compose{


  height:100vh;


}


.pickcolor{
  position:fixed;
  display:grid;
  grid-template-columns: auto auto auto;
  bottom:5%;
  padding-left:10%;
  padding-right:5%;
  color:black;
}

.firstlabel,.secondlabel{
  margin-top:1vw;

  font-size:3vw;
  display:inline-grid;
  grid-template-columns: auto auto auto;
}

.secondlabel{
  margin-left:5vw;
}


.firstlabel-input,.secondlabel-input{

   background-color: Transparent;
   border:none;
   border-bottom:0.1vw solid black;
   font-size:3.5vw;
   width:13vw;
   padding-left:10%;
   margin-top:-1vw;



}

.firstlabel-input:focus,.secondlabel-input:focus{
  outline:none;
}
.button{
    border:none;
    background-color: Transparent;
    font-size:3vw;
    cursor:pointer;
    transition:all 1s;
    margin-left:1vw;

    -webkit-box-shadow: -2px 0px 37px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: -2px 0px 37px -10px rgba(0,0,0,0.57);
     box-shadow: -2px 0px 37px -10px rgba(0,0,0,0.57);
}
.button:hover{
   transform:scale(1.1);
}
.button:focus{
  outline:none;
}

.close{
  cursor:pointer;
  position:absolute;
  right:5%;
  margin-top:1vw;
  font-size:5vw;
  transition:0.5s;
}

.close:hover{
  transform:rotate(180deg);
}
.lock{
  cursor:pointer;
  position:absolute;
  right:20%;
  margin-top:2vw;
  font-size:3vw;
}

.firstbox,.secondbox{

  border-radius:30%;
  height:4vw;
  width:4vw;
  margin-left:2vw;
  margin-top:0.5vw;
  transition:all 1s;
}

.welcome-text,.welcome-header{
  position:absolute;

   left:5%;
   width:50vw;
}
.welcome-header{
  top:0;
  font-size:4vw;
  color:#47ffbf;
}
.welcome-text{
  top:10%;
  font-size:2vw;
  color:tomato;
}

.left-name{
  position:relative;
  top:50%;
  left:10%;

  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 2.5vw;

}
.right-name{
  position:relative;
  top:50%;
  left:75%;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 2.5vw;

}
